
h1 {
color: red;
font-family: tahoma;
text-align: left;
}
p {
    font-family: tahoma;
    text-align: left;
    font-size: 130%;
}
img {
    border:10px black solid;
}
body {
    margin: 5%;
    background-color: mistyrose;
}